{{#admin-nav}}
  {{nav-item route="adminExpertDialog" label="expert_dialog.admin.settings"}}
{{/admin-nav}}

<div class="admin-container">
  <div class="admin-expert-dialog">
    {{admin-expert-dialog-settings}}
  </div>
</div> 